*,
*:before,
*:after ,

.main-menu__item {
    list-style-type: none;
  }
  
li {
    background-color: #ffffff;
    float: left;
    text-align: center;
    width: 10em;
  }
img.uno{
    float: left;
}
img.dos{
    float: right;
}

article.health-art1{
    float: right;
}

body.un{
    background-color: bisque;
}
p.a{
    float: right;
}

body.fin{
    background-color: bisque;
}
